---
import 'lenis/dist/lenis.css';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />

		<script>
			import gsap from 'gsap';
			import { ScrollTrigger } from 'gsap/ScrollTrigger';
			import Lenis from 'lenis';

			gsap.registerPlugin(ScrollTrigger);

			const lenis = new Lenis();
			lenis.on('scroll', ScrollTrigger.update);
			gsap.ticker.add((time) => lenis.raf(time * 1000));
			gsap.ticker.lagSmoothing(0);
		</script>
	</body>
</html>
